openai
litellm
tiktoken
pandas
numpy
pyarrow
matplotlib
seaborn
plotly
termcolor
newspaper3k
pinecone==7.3.0
selenium
google-generativeai
google-genai
groq
ollama
anthropic
mistralai
flask
ipython
nbformat
python-dotenv
lxml_html_clean
gunicorn
google-cloud-storage
statsmodels
scipy
scikit-learn
geopandas
yfinance
flask_sqlalchemy
flask_login
psycopg2-binary
pyodbc
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp